

  <p>
    <%= label_tag :settings_fntprogress_host, 'Servidor FNT:' %>
    <%= text_field_tag 'settings[hostfnt]', @settings['hostfnt'] %>
  </p>

  <p>
    <%= label_tag :settings_fntprogress_port, 'Porta FNT:' %>
    <%= number_field_tag 'settings[portfnt]', @settings['portfnt'] %>
  </p>

